/* Header.css */

.header {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px 0;
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo img {
    height: 50px; /* Adjust the height of the logo as needed */
    margin-right: 10px; /* Add spacing to the right of the logo */
  }
  .title {
    font-family: cursive; /* Replace 'YourCurvyFont' with the actual font name */
    font-size: 2rem; /* Adjust font size */
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    margin: 0 20px; /* Adjust spacing as needed */
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
  }
  
  .nav-item a:hover {
    text-decoration: underline;
  }
  